<a href="https://colab.research.google.com/github/HikmahAlBaity/Data_Science/blob/main/1_Introduction_to_Data_science_July24pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Data Science**

### **Table of Contents:**


**Part 1: Pandas library**

1.1 How to import pandas library

1.2 How to read *.csv * file

1.3 How to read first 5 rows

1.4 How to first 10 rows

1.5 How to read last 10 rows

1.6 Discovering how many rows and columns


**Part 2: Data Types**

 2.1: Python Data Types

 2.2: Boolean Data Types


**Part 3: Expressions, Variables, Conditions**

3.1: Expressions

3.2: Variables

3.3: Conditions

**1.1 Import Pandas library**

In [12]:
import pandas as pd

**1.2 Read.csv file**

In [13]:
df= pd.read_csv("/content/NFLX.csv")

**1.3 Read 5 row data from data set**

In [14]:
df.head(), # 5 first row.

(         Date        Open        High         Low       Close   Adj Close  \
 0  2015-12-16  119.800003  123.000000  118.089996  122.639999  122.639999
 1  2015-12-17  123.970001  126.349998  122.419998  122.510002  122.510002
 2  2015-12-18  120.849998  122.190002  117.919998  118.019997  118.019997
 3  2015-12-21  119.510002  119.589996  115.660004  116.629997  116.629997
 4  2015-12-22  117.300003  117.430000  114.860001  116.239998  116.239998

      Volume
 0  13181000
 1  17284900
 2  17948100
 3  11670000
 4   9689000  ,)

**1.4 Read first 10 row data from data set**

In [15]:
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-16,119.800003,123.000000,118.089996,122.639999,122.639999,13181000
1,2015-12-17,123.970001,126.349998,122.419998,122.510002,122.510002,17284900
2,2015-12-18,120.849998,122.190002,117.919998,118.019997,118.019997,17948100
3,2015-12-21,119.510002,119.589996,115.660004,116.629997,116.629997,11670000
4,2015-12-22,117.300003,117.430000,114.860001,116.239998,116.239998,9689000
5,2015-12-23,116.910004,118.559998,115.779999,118.160004,118.160004,9324300
6,2015-12-24,118.220001,118.800003,117.300003,117.330002,117.330002,3531300
7,2015-12-28,117.260002,117.349998,113.849998,117.110001,117.110001,8424300
8,2015-12-29,118.190002,119.599998,116.919998,119.120003,119.120003,8159200
9,2015-12-30,118.949997,119.019997,116.430000,116.709999,116.709999,8149700

**1.5 Read last 10 row data from data set**

In [16]:
df.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
997,2019-12-03,302.220001,307.359985,301.880005,306.160004,306.160004,4992800
998,2019-12-04,308.429993,308.429993,303.269989,304.320007,304.320007,3512100
999,2019-12-05,305.269989,306.480011,298.809998,302.859985,302.859985,4615500
1000,2019-12-06,304.700012,307.850006,302.600006,307.350006,307.350006,4457800
1001,2019-12-09,307.350006,311.489990,302.440002,302.500000,302.500000,5748400
1002,2019-12-10,296.119995,298.940002,292.019989,293.119995,293.119995,10476100
1003,2019-12-11,294.489990,299.429993,294.200012,298.929993,298.929993,5589800
1004,2019-12-12,295.670013,299.170013,295.059998,298.440002,298.440002,4766600
1005,2019-12-13,298.500000,301.799988,297.250000,298.500000,298.500000,3879700
1006,2019-12-16,300.850006,305.709991,298.630005,304.209991,304.209991,4658900

**1.6 Discover how many columns and rows in data sets**

In [17]:
df.shape  # (rows, columns)

(1007, 7)

**Part 2: Data Types**

 **2.1: Python Data Types**



*   String: words or anything in single quotes (') or double quotes (")

*   Integer: Whole numbers without a decimal point.



*   Float: Real numbers with a fractional component (decimal point)

In [18]:
'Data Science'

8.8

2024

2024

In [19]:
type ('Data Science')

str

In [20]:
type (8.8)

float

In [21]:
type (2024)

int

int, float, complex

In [22]:
# complex
b = 2
A = 20+5*b
# need to define b first, to complete the formula

**2.2 Boolean data type**


*  True
*  False

In [23]:
type (True)

bool

In [24]:
type (False)

bool

**Part 3: Expressions, Variables, Conditions**

define as: representing some value, operator in mathematical formulae.

  
*  subtraction: -


*   addition: +
*   division: /




*  floor division //

*   multiplication: *
*   modulus: %

*   exponent: **

**3.1 Expressions**

In [25]:
X = 2
y = 4
z = y / X
print (z)
#

2.0

In [26]:
type (z)

float

In [27]:
z = y // X
z

2

In [28]:
type (z)

int

Above show differences in data types using divison'/' and floor division'//' operator.


*   / (Division): Always returns a float.

*   // (Floor Division): Returns an integer if both operands are integers. If either operand is a float, the result is a float.

**The modulus operator (%)**


The modulus operator (%) in Python is used to find the remainder of the division of one number by another.

 It is a part of arithmetic expressions and plays a significant role in various programming scenarios.


*   Function: Computes the remainder of the division of two numbers.

*   Syntax: a % b returns the remainder when a is divided by b.

*   Use Cases: To determine if a number is even or odd.

In [29]:
b1 = 10%3
b2 = 10%2
b3 = 11%2
b4 = 11%3

print(b1)
print(b2)
print(b3)
print(b4)

1
0
1
2

The modulus operator % returns the remainder of a division operation.


Let's break down each calculation:



1.   b1 = 10 % 3 Divide 10 by 3. The quotient is 3 (because 3 * 3 = 9, which is the largest multiple of 3 that is less than or equal to 10). The remainder is 10−9=1. Therefore, b1 = 1.


2.   b2 = 10 % 2 Divide 10 by 2. The quotient is 5 (because 5 * 2 = 10). The remainder is 10−10=0. Therefore, b2 = 0.



1.  b3 = 11 % 2 Divide 11 by 2. The quotient is 5 (because 5 * 2 = 10, which is the largest multiple of 2 that is less than or equal to 11). The remainder is 11−10=1. Therefore, b3 = 1.

2.   b4 = 11 % 3 Divide 11 by 3. The quotient is 3 (because 3 * 3 = 9, which is the largest multiple of 3 that is less than or equal to 11). The remainder is 11−9=2. Therefore, b4 = 2.

**3.2 Variables **

Definition:

Naming: Variables have names that should be descriptive to indicate what kind of data they store. i.e a,b,c,x,y,z, orange, apple, data, df


Assignment: The = operator is used to assign a value to a variable.


Dynamic Typing: In Python, the type of a variable is determined by the value assigned to it, and it can change type over time.


" %whos " command to check all your variables

In [30]:
%whos

Variable   Type         Data/Info
---------------------------------
A          int          30
X          int          2
b          int          2
b1         int          1
b2         int          0
b3         int          1
b4         int          2
df         DataFrame                Date        O<...>\n[1007 rows x 7 columns]
pd         module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
y          int          4
z          int          2

Note: If you add more variables later in the coding process, the %whos command will automatically add the new variables and generate the variables in alphabetical order

**3.3 Condition**



*   equal: ==






*   not equal: !=


*   greater than: >
*   less than: <


*   greater than or equal to: >=
*   less than or equal to: <=

**Difference between one " = " sign and double " == " sign**


In Python, = and == serve different purposes and are used in different contexts.

Here’s a detailed explanation

**Assignment Operator (=)**

The single equals sign = is the assignment operator. It is used to assign a value to a variable. i.e: t = 5, t is a variable


**Equality Operator (==)**

The double equals sign == is the equality operator. It is used to compare two values and check if they are equal. The result of this comparison is a boolean value (True or False)

In [31]:
year = 2024

year == 2024

True

In [32]:
year != 2025

True

In [33]:
year == 2025

False